* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #04AA6D;
}

button {
    font-size: larger;
    padding: 18px 16px;
    color: #FFF;
    font-weight: bold;
}

button:hover {
    background-color: #038b59;
    cursor: pointer;
}

button.active {
    background-color: #038b59;

}

button.right-btn {
    float: right;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

