.note {
  margin: 1.5rem;
  padding: 1rem;
  box-sizing: border-box;
  /* background-color: #CCC; */
  width: 600px;
}

.note h3,
.note p {
  margin: 1rem;
}

.del-button {
  background: #038b59;
  margin: 1rem;
  border-radius: 8px;
}